.contact {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

.coursework {}

.education {}

.publications {}

.experience {}

.involvement {}

.projects {}

.skills {}

.summary {}